# Environment variables loaded by `dotenv`
# See: https://github.com/bkeepers/dotenv?tab=readme-ov-file#customizing-rails

# Base domain name to use when generating URLs for this instance of the app.
# If you want to overwrite this in your local environment, you can set it in
# your `.env.development.local` file.
DOMAIN="example.com"
